@mixin text {
    color: var(--black-text);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@mixin card-title {
    color: var(--gray-text);
    font-family: Gilroy;
    font-size: 43px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
}

@mixin button {
    color: var(--white-text);
    border-radius: 50px;
    background: var(--black-text2);
    display: flex;
    padding: 10px 30px;
    align-items: center;
    gap: 10px;
}

@mixin styles-heading($font-size) {
    color: var(--black-text);
    font-family: Gilroy-Medium;
    font-size: $font-size;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
}

@mixin client {
    color: var(--black-text2);
        font-family: Gilroy;
        font-size: 200px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 8.48px;
        text-transform: uppercase;
}

@mixin contacts($font-size) {
    color: var(--gray-text);
    font-family: Gilroy;
    font-size: $font-size;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

@mixin contact-heading($font-size) {
    color: var(--black-text2);
    font-family: Gilroy-Bold;
        font-size: $font-size;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
}

@mixin contact-text {
    color: var(--black-text2);
    font-family: Gilroy-Medium;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

@mixin footer-text($font-family) {
    color: var(--gray-text);
    font-family: $font-family;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}