@import "fonts.scss";
@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1920px;
  margin: 0 auto;
  background-color: var(--BackgroundColor);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
      width: 85vw;
  }
  .header-left-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    .header-left-section__logo {
      width: 91px;
      height: 35px;
    }
    .header-left-section__logo-text {
      color: #000;
      text-align: center;
      font-family: Gilroy, serif;
      font-size: 35px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: -0.7px;
      margin-left: 10px;
      @media screen and (min-width: 320px) and (max-width: 768px) {
        display: none;
      }
      .header-left-section__logo-span {
        color: #000;
        font-family: Gilroy, serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.7px;
        text-transform: uppercase;
        @media screen and (min-width: 320px) and (max-width: 768px) {
          display: none;
        }
      }
    }
    .header-left-section__logo-secondary-span {
      color: #000;
      text-align: center;
      font-family: Gilroy, serif;
      font-size: 25px;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      align-self: start;
      @media screen and (min-width: 320px) and (max-width: 768px) {
        display: none;
      }
    }
  }
  .header-right-section {
    .header-right-section__list {
      .header-right-section__item {
        list-style: none;
        .header-right-section__link {
          color: #252525;
          text-align: center;
          font-family: Gilroy, serif;
          font-size: 25px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-decoration: none;
        }
      }
    }
  }
}

.main {
  background-color: var(--BackgroundColor);
  .name-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 320px) and (max-width: 768px) {
      width: 100vw;
    }
    .name-section__parent-span {
      color: #252525;
      text-align: center;
      font-family: Gilroy, serif;
      font-size: 150px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      padding: 30px 0;
      @media screen and (min-width: 320px) and (max-width: 768px) {
        font-size: 57px;
      }
      .name-section__child-span {
        color: #252525;
        font-family: Gilroy, serif;
        font-size: 150px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        text-transform: capitalize;
        display: block;
        @media screen and (min-width: 320px) and (max-width: 768px) {
          font-size: 57px;
        }
      }
    }
    .name-section__svg {
      display: block;
      margin: 0 auto;
      padding-bottom: 51px;
    }
  }
  .hero-photo-section {
    .hero-photo-section__hero-photo {
      width: 100%;
      @media screen and (min-width: 320px) and (max-width: 768px) {
        width: 100vw;
        height: auto;
      }
    }
  }
  .digital-experiences-section {
    .digital-experiences {
      display: flex;
      justify-content: space-between;
      padding: 70px 0 70px 70px;
      @media screen and (min-width: 320px) and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        //justify-content: center;
        padding: 30px 20px;
      }
      .digital-experiences__main-text {
        color: #252525;
        font-family: Gilroy, serif;
        font-size: 62px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        width: 68%;
        @media screen and (min-width: 320px) and (max-width: 768px) {
          font-size: 30px;
          width: 90vw;
          text-align: center;
          margin-bottom: 30px;
        }
        .digital-experiences__secondary-span {
          font-family: Gilroy, serif;
          font-style: normal;
          font-weight: bold;
        }
      }
      .digital-experiences__social-media-section {
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: #252525;
        box-sizing: border-box;
        padding: 60px 70px 60px 0;
        @media screen and (min-width: 320px) and (max-width: 768px) {
          width: 100vw;
          min-width: 320px;
          padding: 40px 50px 40px 0;
          margin-left: -20px; // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        }
        .social-media-section__text {
          color: #FFF;
          text-align: right;
          font-family: Gilroy, serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px;
          text-transform: uppercase;
          margin-bottom: 30px;
          @media screen and (min-width: 320px) and (max-width: 768px) {
            font-size: 28px;
          }
        }

        .social-media-logo-section {
          display: flex;
          justify-content: flex-end;

          .social-media-logo-section__link {
            .social-media-logo-section__logo {
            }
          }

          .social-media-logo-section__link:nth-child(1), .social-media-logo-section__link:nth-child(2), .social-media-logo-section__link:nth-child(3) {
            margin-right: 20px;

            .social-media-logo-section__logo {
            }
          }
        }
      }
    }
  }
}

  .logos-section {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    @media screen and (min-width: 320px) and (max-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: 100vw;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: 100vw;
    }
    a {
      img {
        padding: 15px 40px;
        border-radius: 50px;
        background: #FFF;
        @media screen and (min-width: 320px) and (max-width: 768px) {
          margin-bottom: 10px;
        }
      }
    }


  }

  .selected-work {
    margin-bottom: 100px;
    .selected-work-title-div {
      display: flex;
      justify-content: center;
      @media screen and (min-width: 320px) and (max-width: 768px) {
        width: 100vw;
      }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: 100vw;
      }
      .selected-work-title {
      color: #252525;
      //text-align: center;
      font-family: Gilroy, serif;
      font-size: 212px;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      letter-spacing: 8.48px;
      text-transform: uppercase;
      margin-top: 70px;
      margin-bottom: 50px;
      @media screen and (min-width: 320px) and (max-width: 768px) {
        font-size: 80px;
        text-align: center;
      }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
          font-size: 150px;
          text-align: center;
        }
    }
    }
      .cards-top-row {
      display: flex;
      justify-content: space-between;
      padding-left: 70px;
      padding-right: 70px;
      @media screen and (min-width: 320px) and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding-left: 0;
        padding-right: 0;
      }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
          flex-direction: column;
          align-items: center;
          width: 100vw;
          padding-left: 0;
          padding-right: 0;
        }
        .cards-top-row__card1 {
        width: 567px;
        height: 567px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
          @media screen and (min-width: 320px) and (max-width: 768px) {
            order: 3;
            height: auto;
          }
          @media screen and (min-width: 768px) and (max-width: 1200px) {
            order: 3;
            height: auto;
          }
          .card1__top-part {
            .card1__top-part-trinity {
              .card1__top-part-trinity-text {
              color: #000;
              font-family: Gilroy, serif;
              font-size: 40px;
              font-style: normal;
              font-weight: bold;
              line-height: 44px;
              text-transform: uppercase;
            }
          }
            .card1__top-part-buttons {
            display: flex;
            margin-top: 30px;
              .card1__top-part-button1 {
              color: #252525;
              font-family: Gilroy, serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              border-radius: 50px;
              background: #FFF;
              padding: 15px 30px;
              margin-right: 30px;
              text-decoration: none;
            }
              .card1__top-part-button2 {
              color: #252525;
              font-family: Gilroy, serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              border-radius: 50px;
              background: #FFF;
              padding: 15px 30px;
              text-decoration: none;
            }
          }
        }
          .card1__bottom-part {
            display: flex;
            align-self: flex-end;
            .card1__button-black {
              color: #FFF;
              font-family: Gilroy, serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: capitalize;
              border-radius: 50px;
              background: #252525;
              padding: 10px 50px 10px 30px;
              text-decoration: none;
              position: relative;
              &::after {
                position: absolute;
                content: '';
                top: 13px;
                left: 110px;
                width: 24px;
                height: 17px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5881 8.74561L1.58813 8.74561' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M16.3333 15.4121L22.9999 8.74544L16.3333 2.07878' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
          }
        }
      }
        .cards-top-row__card2 {
          width: 567px;
          height: 567px;
          box-sizing: border-box;
          @media screen and (min-width: 320px) and (max-width: 768px) {
            //margin-top: 20px;
          }
          .card2__image {

        }
      }
        .cards-top-row__card3 {
        width: 567px;
        height: 567px;
        box-sizing: border-box;
          @media screen and (min-width: 320px) and (max-width: 768px) {
            margin-top: 20px;
            margin-bottom: 20px;
          }
          @media screen and (min-width: 768px) and (max-width: 1200px) {
            margin-top: 20px;
            margin-bottom: 20px;
          }
          .card2__image3 {
        }
      }
    }
      .cards-bottom-row {
      display: flex;
      justify-content: space-between;
      padding: 70px;
        @media screen and (min-width: 320px) and (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          width: 100vw;
          padding-left: 0;
          padding-right: 0;
      }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
          flex-direction: column;
          align-items: center;
          width: 100vw;
          padding-left: 0;
          padding-right: 0;
        }
        .cards-bottom-row__card4 {
        width: 567px;
        height: 567px;
        box-sizing: border-box;
          @media screen and (min-width: 320px) and (max-width: 768px) {
            margin-bottom: 20px;
          }
          @media screen and (min-width: 768px) and (max-width: 1200px) {
            margin-bottom: 20px;
          }
      }
        .cards-top-bottom__card5 {
        width: 567px;
        height: 567px;
        box-sizing: border-box;
      }
        .cards-bottom-row__card6 {
        width: 567px;
        height: 567px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
          @media screen and (min-width: 320px) and (max-width: 768px) {
            margin-top: 20px;
            height: auto;
          }
          @media screen and (min-width: 768px) and (max-width: 1200px) {
            margin-top: 20px;
            height: auto;
          }
          .card6__top-part {
            .card6__top-part-morpheus {
              .card6__top-part-morpheus-text {
              color: #000;
              font-family: Gilroy, serif;
              font-size: 40px;
              font-style: normal;
              font-weight: bold;
              line-height: 44px;
              text-transform: uppercase;
            }
          }
            .card6__top-part-buttons {
            display: flex;
            margin-top: 30px;
              .card6__top-part-button1 {
              color: #252525;
              font-family: Gilroy, serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              border-radius: 50px;
              background: #FFF;
              padding: 15px 30px;
              margin-right: 30px;
              text-decoration: none;
            }
              .card6__top-part-button2 {
              color: #252525;
              font-family: Gilroy, serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              border-radius: 50px;
              background: #FFF;
              padding: 15px 30px;
              text-decoration: none;
            }
          }
        }

          .card6__bottom-part {
          display: flex;
          justify-content: flex-end;
            .card6__button-black {
            color: #FFF;
            font-family: Gilroy, serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
            border-radius: 50px;
            background: #252525;
            padding: 10px 50px 10px 30px;
            text-decoration: none;
            position: relative;
              &::after {
                position: absolute;
                content: '';
                top: 13px;
                left: 110px;
                width: 24px;
                height: 17px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5881 8.74561L1.58813 8.74561' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M16.3333 15.4121L22.9999 8.74544L16.3333 2.07878' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
          }
        }
      }
    }

      .selected-work__button-div {
        display: flex;
        justify-content: center;
        @media screen and (min-width: 320px) and (max-width: 768px) {
          width: 100vw;
        }
        .selected-work__button {
          color: #252525;
          font-family: Gilroy, serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          padding: 15px 60px;
          border-radius: 50px;
          background: #FFF;
          text-decoration: none;
          @media screen and (min-width: 320px) and (max-width: 768px) {
            padding: 15px 170px;
          }
        }
      }
    }

  .our-team-section {
    margin-top: 50px;
    margin-bottom: 50px;
    .our-team-section__title-div {
      display: flex;
      justify-content: center;
      @media screen and (min-width: 320px) and (max-width: 768px) {
        width: 100vw;
        text-align: center;
      }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: 100vw;
        text-align: center;
      }
      .our-team-section__title {
        color: #252525;
        font-family: Gilroy, serif;
        font-size: 212px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 8.48px;
        text-transform: uppercase;
        //text-align: center;
        margin-bottom: 50px;
        @media screen and (min-width: 320px) and (max-width: 768px) {
          font-size: 80px;
        }
        @media screen and (min-width: 320px) and (max-width: 768px) {
          font-size: 150px;
        }
      }
    }
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-left: 70px;
      margin-right: 70px;
      row-gap: 60px;
      column-gap: 40px;

      @media screen and (min-width: 320px) and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
      }

      @media screen and (min-width: 768px) and (max-width: 1200px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 114vw;
        margin-left: 0;
        margin-right: 0;
      }

      .grid-item {
        margin-top: 30px;
        margin-bottom: 30px;
        @media screen and (min-width: 320px) and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
          //width: 50vw;
        }
        .grid-item__name {
          @include Our-team-Card-Name;
          a {
            @include Our-team-Card-Name;
            text-decoration: none;
          }
        }
        .grid-item__position {
          @include Our-team-Card-Position;
          margin-top: 5px;
          margin-bottom: 15px;
          a {
            @include Our-team-Card-Position;
            text-decoration: none;
          }
        }
        img {
          margin-bottom: 15px;
        }
        .grid-item__logo-section {
          display: flex;
          justify-content: flex-end;
          @media screen and (min-width: 768px) and (max-width: 1200px) {
            justify-content: center;
          }
          a {
            text-decoration: none;
          }
          .grid-item__link:nth-child(1), .grid-item__link:nth-child(2), .grid-item__link:nth-child(3) {
            margin-right: 10px;
          }
        }
      }
      .grid-item:nth-child(7) {
        @media screen and (min-width: 320px) and (max-width: 768px) {
          display: none;
        }
      }
      .flex-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .flex-item__title {
          color: #333;
          font-family: Gilroy, serif;
          font-size: 30px;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          text-transform: uppercase;
        }
        .flex-item__description {
          color: #333;
          font-family: Gilroy, serif;
          font-size: 64px;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          text-transform: uppercase;
          margin-top: 15px;
          margin-bottom: 25px;
        }
        .flex-item__button-div {
          width: 100%;
          .flex-item__button {
            color: #FFF;
            font-family: Gilroy, serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
            border-radius: 50px;
            background: #252525;
            text-decoration: none;
            padding: 10px 50px 10px 30px;
            position: relative;
            &::after {
              position: absolute;
              content: '';
              top: 13px;
              left: 110px;
              width: 24px;
              height: 17px;
              background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5881 8.74561L1.58813 8.74561' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M16.3333 15.4121L22.9999 8.74544L16.3333 2.07878' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
          }
        }
      }
      .grid-item:nth-child(7) {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 5;
      }
    }
  }@import "_mixin";

:root {
    --white-text: #fff;
    --black-text2: #252525;
    --black-text: #000;
    --bg-color: #f5f3ea;
    --gray-text: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: var(--bg-color);
}
.container {
    padding: 0 70px;

}

.what-i-do {
    display: flex;
    border-bottom: 1px solid var(--black-text);

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        flex-direction: column;
    }
    @media screen and (min-width: 320px) and (max-width: 768px) {
        flex-direction: column;
    }

    .left-image {
        background-image: url(../images/Frame3.png);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (min-width: 768px) and (max-width: 1200px) {
                height: 991px;
            }

        @media screen and (min-width: 320px) and (max-width: 768px) {
                height: 478px;
            }
    }

    &__wrap {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 100px;
        padding: 70px 70px 70px 111px;

        @media screen and (min-width: 768px) and (max-width: 1200px) {
                padding: 40px 30px;
                gap: 40px;
            }
        @media screen and (min-width: 320px) and (max-width: 768px) {
                padding: 20px;
                gap: 40px;
            }


        &-title {
            color: var(--black-text2);
            font-family: Gilroy;
            font-size: 91px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;

            @media screen and (min-width: 768px) and (max-width: 1200px) {
                    text-align: center;
                }
        }

        .design-styles {
            display: flex;
            flex-direction: column;

            .design-style {
                display: flex;
                flex-direction: column;
                gap: 10px;
                position: relative;
                padding: 40px 0;

                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: var(--black-text2);
                    position: absolute;
                    bottom: 0;
                }
                &:nth-child(1) {
                    padding-top: 0px;
                }

                &:nth-child(4) {
                    padding-top: 40px;
                    padding-bottom: 0px;
                }
                &:nth-child(4)::after {
                    display: none
                }

                &__title {
                    @include styles-heading(44px);
                    padding-left: 54px;
                    position: relative;

                    @media screen and (min-width: 320px) and (max-width: 768px) {
                            @include styles-heading(30px);
                        }
                }

                .title-01 {
                    &::before {
                            content: "01";
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-family: Gilroy-Light;
                    
                        }
                }

                .title-02 {
                    padding-left: 60px;
                    &::before {
                            content: "02";
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-family: Gilroy-Light;
                    
                        }
                }

                .title-03 {
                    padding-left: 60px;
                    &::before {
                            content: "03";
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-family: Gilroy-Light;
                    
                        }
                }

                .title-04 {
                    padding-left: 60px;
                    &::before {
                            content: "04";
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-family: Gilroy-Light;
                    
                        }
                }

                &__text {
                    @include text;
                }
            }
        }
    }
}



.container {
    border-bottom: 1px solid var(--black-text);

    @media screen and (min-width: 768px) and (max-width: 1200px) {
            padding: 40px 30px;
            border-bottom: 0;
        }
    @media screen and (min-width: 320px) and (max-width: 768px) {
            padding: 30px;
            border-bottom: 0;
        }

    .my-clients {
    padding-top: 50px;
    padding-bottom: 130px;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
            padding-bottom: 0;
        }
    @media screen and (min-width: 320px) and (max-width: 768px) {
            padding-bottom: 0;
        }

        &__title {
            @include client;
            text-align: center;

            @media screen and (min-width: 768px) and (max-width: 1200px) {
                    font-size: 99px;
                }
            @media screen and (min-width: 320px) and (max-width: 768px) {
                    font-size: 56px;
                }
        }
    
        .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media screen and (min-width: 768px) and (max-width: 1200px) {
                display: flex;
                flex-direction: column;
            }
        @media screen and (min-width: 320px) and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                }


            .first-client, .second-client, .third-client, .forth-client, .fifth-client, .six-client {
            padding: 30px;

                &__wrap {
                display: flex;
                flex-direction: column;
                gap: 30px;

                    .client-card-desc {
                    @include card-title;
            }

                    .client-feedback {
                    @include text;
            }

                    .client-description {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                        .client-info {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                            &__name {
                            @include text;
                            font-weight: 600;
                        }

                        &__proffesion {
                            @include text;
                        }
                    }
                }
            }
        }
                @media screen and (min-width: 1200px) and (max-width: 1920px) {
                    .first-client,
                        .second-client,
                        .forth-client,
                        .fifth-client {
                            border-right: 1px solid black;
                        }
                    
                        .forth-client,
                        .fifth-client,
                        .six-client {
                            border-top: 1px solid black;
                        }
                }

                                @media screen and (min-width: 768px) and (max-width: 1200px) {
                                    .first-client,
                                        .second-client,
                                        .third-client,
                                        .forth-client,
                                        .fifth-client,
                                        .six-client {
                                            border-bottom: 1px solid black;
                                        }
                                }
                @media screen and (min-width: 320px) and (max-width: 768px) {
                        .first-client,
                            .second-client,
                            .third-client,
                            .forth-client,
                            .fifth-client,
                            .six-client {
                                border-bottom: 1px solid black;
                            }
                }
        
    }
    }
}

.contact {
    padding: 0 70px;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        padding: 0 30px;
        border-bottom: 1px solid black;
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
        border-bottom: 1px solid black;
    }
    .contacts {
            display: flex;
            gap: 40px;
            padding-bottom: 100px;
            padding-top: 100px;

            @media screen and (min-width: 768px) and (max-width: 1200px) {
                flex-direction: column;
                text-align: center;
                padding-bottom: 50px;
                padding-top: 30px;
            }

            @media screen and (min-width: 320px) and (max-width: 768px) {
                flex-direction: column;
                text-align: center;
                padding-bottom: 50px;
                padding-top: 30px;
            }
    
            &__title {
                @include contacts(150px);
                width: 100%;

                @media screen and (min-width: 320px) and (max-width: 768px) {
                        @include contacts(56px);
                    }
            }
    
            .contacts-info {
                display: flex;
                flex-direction: column;
                gap: 30px;

                @media screen and (min-width: 768px) and (max-width: 1200px) {
                        align-items: center;
                    }
                @media screen and (min-width: 320px) and (max-width: 768px) {
                        align-items: center;
                    }
    
                &__heading {
                    @include contact-heading(64px);

                    @media screen and (min-width: 320px) and (max-width: 768px) {
                            @include contact-heading(50px);
                        }
                }
    
                &__text {
                    @include contact-text;
                }
    
                &__button {
                    @include button;
                }
            }
        }
}

.footer {
    padding: 20px 70px;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
            padding: 20px 30px;
        }

    footer {
            display: flex;
            justify-content: space-between;

            @media screen and (min-width: 320px) and (max-width: 768px) {

                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 20px;
            }
    
            .footer-text {
                @include footer-text(Gilroy);
    
                .footer-made_by {
                    @include footer-text(Gilroy-Medium);
                }
            }
    
            .footer-social-medias {
                display: flex;
                gap: 10px;
            }
        }
}
