@mixin Our-team-Card-Name {
  color: #333;
  font-family: Gilroy, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

@mixin Our-team-Card-Position {
  color: #333;
  font-family: Gilroy, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}